<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>        
           classpath:applicationContext.xml
        </param-value>
	</context-param>
	
	<!-- ContextLoaderListener的作用就是启动Web容器时，自动装配ApplicationContext的配置信息。 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>SpringMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>        
	          	 classpath:SpringMVC-servlet.xml
	        </param-value>
		</init-param>
		<!-- Web容器一启动就加载该servlet -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- 过滤器 -->
	<filter>
		<filter-name>UserAuthWebFilter</filter-name>
		<filter-class>com.spring.util.SpringWebFilter</filter-class>
	</filter>
		<filter-mapping>
		<filter-name>UserAuthWebFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<servlet-mapping>
		<servlet-name>SpringMVC</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
